.main-heading {
  line-height: 1em;
}
.main-sub-heading {
  color: #474747;
  line-height: 1.2em;
}

.main-heading-description {
  color: #474747;
  line-height: 1.2em;
}
.middle-heading {
  font-size: 40px;
  line-height: 1em;
}
.middle-sub-heading{
  color: #474747;
  line-height: 1.2em;
}
.middle-description {
  color: #474747;
  line-height: 1.2em;
}

